$orange: #ed8b00;
$red: #da291c;
$black: #000;
$green: #43b02a;
$blue: #004b87;
$yellow: #ffd100;
$brown: #5b3427;
$white: #fff;
$grey: #777;

$buttercup: #f59b15;
$dawn-pink: #f6e9e9;
$hot-cinnamon: #e16428;
$mine-shaft: #363333;
$thunder: #272121;

// Colors (http://chir.ag/projects/name-that-color/)
