// sass-lint:disable no-vendor-prefixes
// sass-lint:disable no-misspelled-properties

.noselect {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
